@tailwind base;
@tailwind components;
@tailwind utilities;

#root-2 {
  background-color: black;
  color: white;
  box-sizing: border-box;
}

#root-2::-webkit-scrollbar {
  width: 4px;
}

#root-2::-webkit-scrollbar:horizontal {
  height: 8px;
}

#root-2::-webkit-scrollbar-thumb {
  background-color: #900;
  border-radius: 10px;
}

#root-2 .task::-webkit-scrollbar-thumb {
  background-color: #500;
  border-radius: 10px;
}
.card {
  @apply rounded bg-white border-gray-200 shadow-md overflow-hidden relative;
}

.badge {
  @apply absolute top-0 ml-2 p-2 mt-2 bg-secondary-100 text-secondary-200 text-xs uppercase font-bold rounded-full;
}

.btn {
  @apply rounded-full py-2 px-3 uppercase text-xs font-bold tracking-wider cursor-pointer;
}
